<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body id="myPage" data-target=".navbar" data-offset="60">
    <div id="about" class="container-fluid">
      <h2>About Us</h2>
      <h4>Blanka Flowers - Flowers Shop in Israel</h4>
      <p>With the growth in Internet usage, flowers delivery in Israel has taken on a new dimension. Online delivery seems to be the latest means through which people order and receive their flowers. Whether you want your flowers delivered at home or to the office, the flexibility that comes with online delivery can meet such requirements extremely well. The reason that many flower shoppers in Israel prefer online delivery is because of its convenience. With the busy work lives that many people have nowadays, it becomes almost impossible to order and queue for deliveries. At the click of a button, the same can be executed online without any inconveniences. The speed of delivery is also commendable. Whether local or overseas, flowers delivery to Israel makes use of some of the best delivery services. This makes online delivery dependable and reliable both to the sender and the recipient.</p>
    </div>
    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <img id="about_img" src="images/aster.jpg"></img>
        </div>
        <div class="col-sm-8">
          <h2>Our Products</h2>
          <h4><strong>Blanka Flowers - </strong>Flowers Shop in Israel</h4>
          <p>With the growth in Internet usage, flowers delivery in Israel has taken on a new dimension. Online delivery seems to be the latest means through which people order and receive their flowers. Whether you want your flowers delivered at home or to the office, the flexibility that comes with online delivery can meet such requirements extremely well. The reason that many flower shoppers in Israel prefer online delivery is because of its convenience. With the busy work lives that many people have nowadays, it becomes almost impossible to order and queue for deliveries. At the click of a button, the same can be executed online without any inconveniences. The speed of delivery is also commendable. Whether local or overseas, flowers delivery to Israel makes use of some of the best delivery services. This makes online delivery dependable and reliable both to the sender and the recipient.</p>
        </div>
      </div>
    </div>
  </body>
</html>