<footer class="page-footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 flex-center" id="footer-icons">
          <a>
            <i class="fa fa-facebook-square icon"> </i>
          </a>
          <a>
            <i class="fa fa-twitter icon"> </i>
          </a>
          <a>
            <i class="fa fa-google-plus icon"> </i>
          </a>
          <a>
            <i class="fa fa-linkedin icon"> </i>
          </a>
          <a>
            <i class="fa fa-instagram icon"> </i>
          </a>
          <a>
            <i class="fa fa-pinterest icon"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center footer-copyright">© 2019 Copyright
    <a href="#" class="footer-copyright" id="flower-link">FLOWERS.com</a>
  </div>
</footer>