<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="400">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" id="brand">
				<span><img src="images/purple-flower-icon.png" width="30px"></span>
				FLOWERS
			</a>
		</div>
		<div id="navigation"></div>
	</div>
</div>
<section class="first">
</section>
