<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#about" onclick="loadAbout()">ABOUT</a></li>
		<li><a href="#catalog" onclick="loadCatalog()">CATALOG</a></li>
		<li><a href="#contact" onclick="loadContact()">CONTACT</a></li>
		<li><a href="#store" onclick="loadStore()">STORE</a></li>
		<li><a href="#users" onclick="loadUsers()">USERS</a></li>
		<li><a href="#branches" onclick="loadBranches()">BRANCHES</a></li>
		<li><a href="#chat" onclick="loadChat()">CHAT</a></li>
		<li><a href="#updateMeModal" onclick="openUpdateModal()">UPDATE MY DETAILS</a></li>
		<li><a href="" onclick="logout()">LOGOUT</a></li>
	</ul>
</div>