<div class="collapse navbar-collapse" id="myNavbar">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#about" onclick="loadAbout()">ABOUT</a></li>
		<li><a href="#contact" onclick="loadContact()">CONTACT</a></li>
		<li><a href="#myModal" data-toggle="modal">LOGIN</a></li>
	</ul>
</div>